services:
  db:
    image: postgres:18
    container_name: hirsh_guitar_db
    restart: always
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql

volumes:
  pgdata: